---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ post.url }}">
          <div class="post-item {% if post.featured == true %}featured{% endif %}">
            <div class="post-item-image" style="background-image: url({{ post.image_path }});">
              <div class="post-item-overlay"></div>
              <div class="post-item-container">
                <div class="text-center wrapper 5">
                    <h2 class="post-item-title">{{ post.title }}</h2>
                    <hr class="post-item-hr">
                    <p class="text-center post-item-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>
                    <p class="post-item-date">{{ post.date | date: '%B %d, %Y'}}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
