/**
 * Site header
 */
.site-header {
    width: 100%;
    // Positioning context for the mobile navigation icon
    text-align: center;
    border-bottom: 1px solid $grey-color-light;
        padding: 2em 0;
}

.site-title {
    font-family: $header-font-family;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1rem;

}
.site-title:hover {
    text-decoration: none;

}

.site-nav {
    text-align: center;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-size: $small-font-size;
        text-transform: uppercase;
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    float: left;
    width: 100%;
    margin: 0 auto;
}
/**
 * Page content
 */
.page-content {

}


.post-list {
    margin-left: 0;
    list-style: none;
    padding: 0 1%;
    margin: 0;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    padding: $spacing-unit 4%;
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.posts{
  width: 100%;
}
.post-item{
  float: left;
  width: 48%;
  display:block;
  position:relative;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
}
@include media-query($on-laptop) {
  .post-item{
    width: 98%;
  }
  .post-item-container{
    padding-top: 20%;
  }
}
.post-item.featured{
  float: left;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;

}
.post-item-container{
  width: 100%;
  margin: 0 auto;
  padding-top: 15%;
  position: absolute;
}

.post-item-title{
    font-size: 2rem;
    margin: 0;
    margin-bottom: .1em;
    color: $white-color;
}
.post-item-date {
    font-size: $small-font-size;
    font-family: $alt-font-family;
    margin-bottom: -.2em;
    color: $white-color;
}
.post-item-excerpt {
  font-style: italic;
  margin-bottom: -1em;
  font-size: 1.2rem;
  color: $white-color;
}
.post-item .post-item-image{
    width: 100%;
    padding-bottom: 50%;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

}
.post-item .post-item-overlay{
    width: 100%;
    padding-bottom: 50%;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    transition: background-color .5s;
}
.post-item:hover .post-item-overlay{
  width: 100%;
  padding-bottom: 50%;
  margin: 0 auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
@include media-query($on-palm) {
  .post-item-excerpt {
    display: none;
  }
}
.post-item.featured .post-item-container{
    padding-top: 15%;
}

.post-item.featured .post-item-title{
    font-size: 3rem;
}
.post-item.featured .post-item-excerpt {
  font-size: 1.4rem;
}
.post-item.featured .post-item-image{
  padding-bottom: 40%;
}
.post-item.featured .post-item-overlay{
  padding-bottom: 40%;
}
.post-item.featured:hover .post-item-overlay{
  padding-bottom: 40%;
}
@include media-query($on-palm) {
  .post-item.featured .post-item-container{
      padding-top: 20%;
  }

  .post-item.featured .post-item-title{
      font-size: 2rem;
  }
  .post-item.featured .post-item-excerpt {
    font-size: 1.2rem;
  }
  .post-item.featured .post-item-image{
    padding-bottom: 50%;
  }
  .post-item.featured .post-item-overlay{
    padding-bottom: 50%;
  }
  .post-item.featured:hover .post-item-overlay{
    padding-bottom: 50%;
  }
}

.page-header{
  @include banner;
  min-height: 70vh;
  max-height: 70vh;
  height: 70vh;
}
@include media-query($on-laptop) {
  .page-header{
    min-height: 40vh;
    max-height: 40vh;
    height: 40vh;
  }

}
@include media-query($on-palm) {
  .page-header{
    min-height: 30vh;
    max-height: 30vh;
    height: 30vh;
  }

}

.page-title{
  color: $white-color;
  font-size: 4rem;
}
@include media-query($on-palm) {
  .page-title{
    color: $white-color;
    font-size: 2rem;
  }
}
