/**
 * Site header
 */
.site-header {
    width: 100%;
    // Positioning context for the mobile navigation icon
    text-align: center;
    border-bottom: 1px solid $grey-color;
        padding: 2em 0;
}

.site-title {
    font-family: $header-font-family;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;

}
.site-title:hover {
    text-decoration: none;

}

.site-nav {
    text-align: center;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-size: $small-font-size;
        text-transform: uppercase;
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background: $footer-color;
    color: $white-color;
    padding: $spacing-unit 0;
    float: left;
    width: 100%;
    margin: 0 auto;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {

}


.post-list {
    margin-left: 0;
    list-style: none;
    padding: 0 1%;
    margin: 0;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    padding: $spacing-unit 0;
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.posts{
  width: 100%;
}
.post-item{
  float: left;
  width: 48%;
  display:block;
  position:relative;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
}
.post-item.featured{
  float: left;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;

}
.post-item-container{
  width: 100%;
  margin: 0 auto;
  padding-top: 10%;
  position: absolute;
}

.post-item-title{
    font-size: 2rem;
    margin: 0;
    color: $white-color;
}
.post-item-date {
    font-size: $small-font-size;
    font-family: $alt-font-family;
    margin-bottom: -.2em;
    color: $white-color;
}
.post-item-excerpt {
  font-style: italic;
  margin-bottom: -1em;
  font-size: $small-font-size;
  color: $white-color;
}
.post-item .post-item-image{
    width: 100%;
    padding-bottom: 50%;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

}
.post-item .post-item-overlay{
    width: 100%;
    padding-bottom: 50%;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    transition: background-color .5s;
}
.post-item:hover .post-item-overlay{
  width: 100%;
  padding-bottom: 50%;
  margin: 0 auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.post-item.featured .post-item-container{
    padding-top: 15%;
}

.post-item.featured .post-item-title{
    font-size: 3rem;
}
.post-item.featured .post-item-excerpt {
  font-size: 1.4rem;
}
.post-item.featured .post-item-image{
  padding-bottom: 40%;
}
.post-item.featured .post-item-overlay{
  padding-bottom: 40%;
}
.post-item.featured:hover .post-item-overlay{
  padding-bottom: 40%;
}


.page-header{
  @include banner;
  min-height: 70vh;
  max-height: 70vh;
  height: 70vh;
  padding-top: 80px;
}


.page-title{
  color: $white-color;
  font-size: 4rem;
}
